<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Tanzaniablog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static '/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static '/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Updated: Jun 06 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="projects-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">logo</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/travelguide/">Travel Guide</a></li>
          <li><a href="/invest/">Invest</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade" style="background-image: url('{% static "/assets/img/morebangles.webp" %}');">

      <div class="container position-relative">

      </div>
    </div><!-- End Page Title -->

    <!-- Projects Section -->
    <div class="content">
      <div class="health-section">
<h2>Have a closer look into the Rich Heritage of Tanzanian Art and Craft</h2>
        For traveling to Tanzania, you will need a valid visa, which can be obtained online, at Tanzanian embassies/consulates,<br> or on arrival for certain nationalities. Types of visas include tourist, business, transit, student, and volunteer.<br><br>
                 <ol>
                   <b>Tinga Tinga Paintings:</b>
                <li>Originating from the Makua tribe in southern Tanzania, Tinga Tinga is one of the most famous styles of Tanzanian art. Named after its founder, Edward Saidi Tingatinga, this style is characterized by its bold, bright colors and whimsical depictions of animals and everyday life. The paintings are often created on masonite using bicycle paint, giving them a unique texture and vibrancy.</li><br>
                  <b> Makonde Sculptures:</b>
                   <li>The Makonde people, primarily located in southeastern Tanzania, are renowned for their intricate wood carvings. These sculptures, often made from ebony or rosewood, depict human figures, animals, and mythological scenes. The most iconic form of Makonde art is the "Tree of Life," a complex, multi-figure carving that tells a story through its interconnected forms.</li><br>
                  <b>Beadwork and Jewelry:</b>
                   <li>The Maasai people are famous for their elaborate beadwork, which is not only a form of adornment but also a means of communication. The colors and patterns used in Maasai beadwork convey social status, age, marital status, and other aspects of identity. Beaded jewelry, belts, and collars are integral to Maasai culture and are often seen during traditional ceremonies.</li><br>
                   <b>Basket Weaving:</b>
                   <li>Basket weaving is a common craft across Tanzania, with different regions producing distinct styles. The Zaramo people, for example, create beautifully patterned baskets using natural fibers like palm leaves and sisal. These baskets are used for storage, carrying goods, and even as decorative pieces.</li><br>
                   <b>Pottery:</b>
                   <li>Pottery in Tanzania varies widely, with each ethnic group bringing its own techniques and designs. The Pare and Chaga people are known for their utilitarian pots used for cooking and storage, often adorned with geometric patterns. Pottery is typically made using coiling or pinching methods and fired in open pits or simple kilns.</li><br>
                   <b>Textiles:</b>
                   <li>Tanzanian textiles are another important aspect of the country's craft heritage. The kanga, a colorful printed cloth, is widely worn by women throughout Tanzania. Each kanga features a unique design and often includes a Kiswahili proverb or message, adding a layer of cultural significance.</li>
            </ol>
            </div>


    </div><!-- End Portfolio Item -->


          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Projects Section -->

  </main>




  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Tanzania blog</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Discover Tanzania, a land of breathtaking landscapes and rich cultural heritage. Home to the iconic Serengeti National Park, where the awe-inspiring Great Migration unfolds, and the majestic Mount Kilimanjaro, Africa's highest peak, Tanzania offers unparalleled natural wonders. </p>

          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">

        </div>

        <div class="col-lg-2 col-md-3 footer-links">

        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful links</h4>
          <ul>
            <li><a href="/travelguide/">Travel Guide</a></li>
            <li><a href="invest/">Invest</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Address</h4>
          <ul>
            <li><a href="#">7k Old Port Bell Rd,</a></li>
            <li><a href="#">Bugolobi, Kampala,</a></li>
            <li><a href="#">Uganda</a></li>
            <li><a href="#">info@qubescape.com</a></li>
            <li><a href="#">+256 752122753</a></li>
          </ul>
        </div>

      </div>
    </div>



  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>