<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Tanzaniablog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static '/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static '/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Updated: Jun 06 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="projects-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">logo</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/travelguide/">Travel Guide</a></li>
          <li><a href="/invest/">Invest</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade" style="background-image: url('{% static "/assets/img/guidelines.webp" %}');">

      <div class="container position-relative">

      </div>
    </div><!-- End Page Title -->

    <!-- Projects Section -->
    <div class="content">
      <div class="health-section">
<h2><i class="fa fa-cc-visa"></i> Visa</h2>
        For traveling to Tanzania, you will need a valid visa, which can be obtained online, at Tanzanian embassies/consulates,<br> or on arrival for certain nationalities. Types of visas include tourist, business, transit, student, and volunteer.<br><br>
                 <ul>
                   <b>Application Process</b>
                <li>Online Application: Available through the Tanzania Immigration website.</li>
                <li>Embassy/Consulate: Apply at the nearest Tanzanian embassy or consulate.</li>
                <li>On Arrival: Visas are available on arrival for certain nationalities at major entry points</li>
                <li>Visa Extensions: Available through the Tanzanian Immigration office if you need to extend your stay.</li>
                <li>Yellow Fever Vaccination: Required if you are traveling from a country with a risk of yellow fever.</li>
            </ul>
            </div>
            <div class="health-section">
                <h2><i class="fas fa-notes-medical"></i> Health</h2>
                <ul>
                    <li>Malaria, including chloroquine-resistant strains, occurs year-round, except in areas above 1800 metres. <br>Consider taking anti-malarial medication.</li>
                    <li>Yellow fever can occur. Check with a health professional before travelling if you need to get vaccinated.<br> Other insect-borne diseases include Zika virus, dengue, filariasis and East African trypanosomiasis (sleeping sickness). <br>Ensure your accommodation is insect-proof and use insect repellent.</li>
                    <li>HIV/AIDS is widespread. Take precautions if you're taking part in high-risk activities.</li>
                    <li>Altitude sickness can affect anyone at heights over 2500 metres. If you plan to climb Mt Kilimanjaro (5895 metres),<br> make sure you're physically fit and in good health. Talk to your doctor before you travel.</li>
                    <li>Medical facilities are limited, and medicines are often not available. If you get injured or become ill, you may need to be <br>evacuated to another country for treatment. This can be expensive. In the case of a medical emergency while in Tanzania,<br>   call the toll-free Health Emergency Number: 112.</li>
                </ul>
            </div>

      <div class="health-section">
                <h2><i class="	far fa-clock"></i> Best Time to Visit</h2>
               <b> The best time to visit Tanzania depends on what you want to experience:</b>
                <ul>
                    <li>Wildlife Viewing: The best time for wildlife viewing in Tanzania's national parks, like the Serengeti and Ngorongoro Crater, <br>is during the dry season from late June to October. This is when animals gather around water sources, making them easier to spot.</li>
                    <li>The Great Migration: To witness the Great Migration, plan your visit between June and September. The wildebeest and zebra herds<br> are in the northern Serengeti, and the river crossings are particularly dramatic.</li>
                    <li>Climbing Mount Kilimanjaro: The best months for climbing Kilimanjaro are January to March and June to October, when the weather is<br> relatively stable.</li>
                    <li>Beach Holidays: For a beach holiday on Zanzibar, the best time is from June to October when the weather is warm and sunny. <br>December to February is also a good time, but it can be hotter.</li>
                    <li>Avoiding the Rainy Seasons: Tanzania has two rainy seasons: the long rains from March to May and the short rains in November and December.<br> Travel during these periods can be challenging due to muddy roads and disrupted wildlife viewing.</li>
                </ul>
            </div>
      <div class="health-section">
                <h2><i class="fa fa-dollar"></i> Currency and Payments</h2>


                <ul>
                    <li>The official currency of Tanzania is the Tanzanian Shilling (TZS).</li>
                    <li> US dollars (USD) are widely accepted, especially in tourist areas, hotels, and for safaris.</li>
                    <li>Carry a mix of Tanzanian Shillings and US dollars for convenience.</li>
                    <li>Small denominations (USD 1, 5, 10, 20) are useful for tips and minor expenses.</li>
                    <li>Exchange services are available at airports, banks, and exchange bureaus in major cities.</li>
                </ul>
            </div>
      <div class="health-section">
                <h2><i class="far fa-handshake"></i>Local Etiquette</h2>
                <ul>
                    <li>Greetings are very important in Tanzanian culture. A handshake is the most common form of greeting, <br>often accompanied by asking about the other person's health and family.<br>
Use the right hand for handshakes and passing items, as the left hand is considered unclean.</li>
                    <li>Dress modestly, especially in rural areas and Zanzibar, where the population is predominantly Muslim.<br>
Women should avoid wearing shorts and sleeveless tops outside of beach areas and resorts. <br>Long skirts or trousers and covered shoulders are recommended.
Men should also avoid wearing shorts <br>in towns and villages.</li>
                    <li>Show respect to elders by addressing them formally and using titles where appropriate.<br>
Allow elders to speak first and listen attentively.</li>
                    <li>Always ask for permission before taking photos of people, especially in rural areas and Maasai villages.<br>
It is illegal to photograph military and government buildings, airports, and border crossings.
</li>
                    <li>Gifts are appreciated but not expected. If giving a gift, choose something modest and appropriate.<br>
Avoid giving alcohol or pork products to Muslims.</li>
                    <li>Tanzanians often communicate indirectly to avoid confrontation. Be mindful of non-verbal cues and tone of voice.<br>
Avoid sensitive topics like politics, religion, and ethnic issues unless you know the person well.
</li>
                    <li>Respect religious customs and practices. Dress appropriately when visiting religious sites.<br>
During Ramadan, avoid eating, drinking, or smoking in public during daylight hours in predominantly Muslim areas.</li>
                    <li>Do not litter and respect local efforts to keep areas clean.
When visiting wildlife areas or national parks,<br> follow the guidelines and respect the natural habitat.</li>
                </ul>
            </div>
      <div class="health-section">
                <h2><i class="	fa fa-plane"></i> Transportation</h2>
                <ul>
                    <li>Major international airports include Julius Nyerere International Airport <br>(Dar es Salaam), Kilimanjaro International Airport (near Arusha), and Abeid Amani Karume International Airport (Zanzibar).</li>
                    <li>Buses are a common and affordable way to travel between cities and towns.</li>
                    <li>Trains are a scenic but slower travel option, suitable for adventurous travelers.</li>
                    <li>Taxis are available in major cities and towns. Negotiate fares before starting your journey.</li>
                    <li>Car rental services are available in major cities and airports.</li>
                </ul>
            </div>
        <div class="content">
      <div class="health-section">
<h2><i class="fas fa-language"></i> Communication</h2>
                 <ul>
                <li>Swahili (Kiswahili): The national language spoken by the majority of Tanzanians and used in most daily interactions,<br> government, and media.</li>
                <li>Mobile phones are the primary means of communication, with a high penetration rate across the country.<br>
Major mobile network operators include Vodacom, Airtel, Tigo, and Halotel.</li>
                <li>Internet access is widespread in urban areas, with 3G, 4G, and even 5G networks available.<br>
Rural areas may have limited or no internet access.</li>
                <li> Start conversations with polite greetings. A handshake and "Habari" (How are you?) or "Shikamoo" <br>(a respectful greeting to elders) are common.</li>
            </ul>
            </div>
            <div class="content">
      <div class="health-section">
<h2><i class="fa fa-shopping-bag""></i> Packing Essentials</h2>
                 <ul>
                <li>Pack light, breathable clothing for hot weather. Cotton and linen fabrics are ideal.</li>
                <li>Hiking Boots: If you plan to climb Mount Kilimanjaro or go trekking.</li>
                <li> Basic first aid supplies including band-aids, antiseptic wipes, and any personal medications.</li>
                <li> Non-perishable snacks for long journeys or when exploring remote areas.</li>
            </ul>
            </div>

    </div><!-- End Portfolio Item -->


          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Projects Section -->

  </main>




  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Tanzania blog</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Discover Tanzania, a land of breathtaking landscapes and rich cultural heritage. Home to the iconic Serengeti National Park, where the awe-inspiring Great Migration unfolds, and the majestic Mount Kilimanjaro, Africa's highest peak, Tanzania offers unparalleled natural wonders. </p>

          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">

        </div>

        <div class="col-lg-2 col-md-3 footer-links">

        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful links</h4>
          <ul>
            <li><a href="/travelguide/">Travel Guide</a></li>
            <li><a href="invest/">Invest</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Address</h4>
          <ul>
            <li><a href="#">7k Old Port Bell Rd,</a></li>
            <li><a href="#">Bugolobi, Kampala,</a></li>
            <li><a href="#">Uganda</a></li>
            <li><a href="#">info@qubescape.com</a></li>
            <li><a href="#">+256 752122753</a></li>
          </ul>
        </div>

      </div>
    </div>



  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>