<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Tanzaniablog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static '/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static '/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Updated: Jun 06 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="projects-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">logo</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/travelguide/">Travel Guide</a></li>
          <li><a href="/invest/">Invest</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade" style="background-image: url('{% static "/assets/img/ArushaNationalPark.webp" %}');">

      <div class="container position-relative">
        <h1>Top 10 Places</h1>

      </div>
    </div><!-- End Page Title --><br><br>

      <div class="places-to-visit">
    <h2 align="center">Most Beautiful Places To Visit In Tanzania</h2>
          <hr>
    <ul>
        <li>
            <h3 align="center">Serengeti National Park</h3><br>
            <div class="content">
                <div class="text">
                    Serengeti National Park, located in Tanzania, is one of the most renowned wildlife sanctuaries in the world.<br>The park is famous for its annual Great Migration, where over a million wildebeest, zebras, and gazelles traverse its plains in search of greener pastures.<br>
                    <b>Best Time Visit:</b><br>
                    June to October and December to March<br>
                    <b>Ticket Price</b><br>

                        Non-East African Residents: $82.60 per adult per day<br>
                        Children (5-15 years): $23.60 per day<br>
                        East African Residents: Approximately $11.80 per adult per day<br>

                </div>
                <div class="image">
                    <img src="{% static '/assets/img/SerengetiPark.webp' %}" class="img-fluid" alt="Serengeti Park" height="400px" width="700px">
                </div>
            </div>
        </li><br>
        <li>
            <h3 align="center">Ngorongoro Crater</h3><br>
            <div class="content">
                <div class="text">
                    The Ngorongoro Crater, located in Tanzania, is the world's largest inactive, intact, and unfilled volcanic caldera. <br>This UNESCO World Heritage Site is home to a diverse range of wildlife, including the Big Five (lion, leopard, elephant, buffalo, and rhino). The crater's lush vegetation and permanent water sources support a thriving ecosystem, making it a prime location for wildlife viewing.<br>
                    <b>Best Time Visit:</b><br>
                    June to October and November to December<br>
                    <b>Ticket Price</b><br>
                        Non-East African Residents: $70.80 per adult per day<br>
                        Children (5-15 years): $20.00 per day<br>
                        East African Residents: Approximately $8.26 per adult per day<br>

                </div>
                <div class="image">
                    <img src="{% static '/assets/img/randomlake.webp' %}" class="img-fluid" alt="Ngorongoro Crater" height="400px" width="700px">
                </div>
            </div>
        </li><br>
                    <h3 align="center">Mount Kilimanjaro</h3><br>

        <div class="content">
                <div class="text">
 Mount Kilimanjaro, located in Tanzania, is the highest peak in Africa, standing at 5,895 meters (19,341 feet) above <br>sea level. This iconic stratovolcano consists of three cones: Kibo, Mawenzi, and Shira, with Kibo being the highest. <br>Known as the "Roof of Africa," Kilimanjaro is renowned for its diverse ecosystems, ranging from lush rainforests<br> at its base to arctic conditions at its summit.<br>
                    <b>Best Time Visit:</b><br>
                    January to March and June to October<br>
                    <b>Ticket Price</b><br>
                        Park Entry Fees: $70 per person per day<br>
                        Camping Fees: $50 per person per night (for those camping)<br>
                        Hut Fees: $60 per person per night (for those staying in huts on the Marangu Route)<br>
                        Rescue Fees: $20 per person per trip<br>
                       Guide Fees: Typically around $20-$30 per day (per guide)<br>

                </div>
                <div class="image">
                    <img src="{% static '/assets/img/gallery6.webp' %}" class="img-fluid" alt="Ngorongoro Crater" height="400px" width="700px">
                </div>
            </div>
        </li><br>
                            <h3 align="center">Zanzibar</h3><br>



        <div class="content">
                <div class="text">
                    <b>Zanzibar</b><br>
Zanzibar Island, is home to Stone Town, a UNESCO World Heritage Site known for its winding alleys, bustling bazaars, <br>and historic buildings that reflect a blend of African, Arab, Indian, and European influences. Zanzibar is also renowned <br>for its spice farms, offering visitors a chance to learn about and experience the island's long-standing spice trade.<br>                    <b>Best Time Visit:</b><br>
                    June to October and December to February<br>
                </div>
                <div class="image">
                    <img src="{% static '/assets/img/mafiabeach.webp' %}" class="img-fluid" alt="Ngorongoro Crater" height="400px" width="700px">
                </div>
            </div>
        </li><br>
        <h3 align="center">Tarangire National Park</h3><br>


        <div class="content">
                <div class="text">
Tarangire National Park, located in northern Tanzania, is renowned for its large elephant herds, ancient baobab trees, <br>and diverse wildlife.The park is bisected by the Tarangire River, which serves as a vital water source for animals during<br> the dry season. Besides elephants, visitors can spot lions, leopards, cheetahs, zebras, giraffes, and various bird species.<br>
                    <b>Best Time Visit:</b><br>
                    June to October and November to May<br>
                    <b>Ticket Price</b><br>

                        Non-East African Residents: $59 per adult per day<br>
                        Children (5-15 years): $17.70 per day<br>
                        East African Residents: Approximately $11.80  per adult per day<br>

                </div>
                <div class="image">
                    <img src="{% static '/assets/img/TarangireNationalPark.webp' %}" class="img-fluid" alt="Ngorongoro Crater" height="400px" width="700px">
                </div>
            </div>
        </li><br>
                <h3 align="center">Lake Manyara National Park</h3><br>


        <div class="content">
                <div class="text">
The park is renowned for its scenic beauty, encompassing a variety of ecosystems such as groundwater forests, <br>grassy plains, and alkaline soda lakes. It is particularly famous for its tree-climbing lions and large flocks of flamingos <br>that inhabit the lake.<br>
                    <b>Best Time Visit:</b><br>
                    June to October and November to May<br>
                    <b>Ticket Price</b><br>
                        Non-East African Residents: $53.10 per adult per day<br>
                        Children (5-15 years): $15.80 per day<br>
                        East African Residents: Approximately $11.80 per adult per day<br>

                </div>
                <div class="image">
                    <img src="{% static '/assets/img/LakeManyaraPark.webp' %}" class="img-fluid" alt="Ngorongoro Crater" height="400px" width="700px">
                </div>
            </div>
        </li><br>
                        <h3 align="center">Ruaha National Park</h3><br>


        <div class="content">
                <div class="text">
The park is named after the Great Ruaha River, which flows along its southeastern margin. Known for its rugged and <br>diverse landscapes, Ruaha offers a mix of savannah, woodlands, and riverine forests. It is a wildlife haven, home to<br> large populations of elephants, lions, leopards, cheetahs, and African wild dogs. <br>
                    <b>Best Time Visit:</b><br>
                    June to October and November to May<br>
                    <b>Ticket Price</b><br>

                        Non-East African Residents: $59 per adult per day
                        Children (5-15 years): $17.70 per day
                        East African Residents: Approximately $11.80 per adult per days

                </div>
                <div class="image">
                    <img src="{% static '/assets/img/RuahaNationalPark.webp' %}" class="img-fluid" alt="Ngorongoro Crater" height="400px" width="700px">
                </div>
            </div>
        </li><br>
                        <h3 align="center">Selous Game Reserve</h3><br>


        <div class="content">
                <div class="text">
The reserve is named after the famous British explorer and hunter Frederick Selous. Selous is known for its diverse <br>habitats, including riverine forests, open grasslands, and swamps. The Rufiji River, which meanders through the reserve,<br> provides a lifeline for the area's rich wildlife.The reserve also offers unique safari experiences such as boat safaris, walking<br> safaris, and traditional game drives.<br>
                    <b>Best Time Visit:</b><br>
          June to October and November to March<br>
                    <b>Ticket Price</b><br>

                        Non-East African Residents: $59 per adult per day<br>
                        Children (5-15 years): $17.70 per day<br>
                        East African Residents: Approximately $11.80 per adult per day<br>

                </div>
                <div class="image">
                    <img src="{% static '/assets/img/SelousGameReserve.webp' %}" class="img-fluid" alt="Ngorongoro Crater" height="400px" width="700px">
                </div>
            </div>
        </li><br>
                                <h3 align="center">Mafia Island</h3><br>


        <div class="content">
                <div class="text">
Mafia Island is a peaceful and relatively undeveloped island located off the coast of mainland Tanzania, in the Indian Ocean.<br> It is part of the Mafia Archipelago, which includes several smaller islands. Known for its pristine white-sand beaches, <br>clear turquoise waters, and vibrant coral reefs, Mafia Island is a haven for snorkelers, divers, and beach enthusiasts. <br>
                    <b>Best Time Visit:</b><br>
          June to October and December to March<br>
                </div>
                <div class="image">
                    <img src="{% static '/assets/img/mafiaa.webp' %}" class="img-fluid" alt="Ngorongoro Crater" height="400px" width="700px">
                </div>
            </div>
        </li><br>
                                        <h3 align="center">Arusha National Park</h3><br>


        <div class="content">
                <div class="text">
Arusha National Park, located in northern Tanzania, is a compact but diverse park covering approximately 137 square <br>kilometers. It is known for its varied landscapes, ranging from Mount Meru, the second-highest peak in Tanzania, <br>to lush rainforests, savannah plains, and alkaline lakes. The park offers breathtaking views of Mount Kilimanjaro on clear<br> days and is home to a rich diversity of wildlife, including giraffes, zebras, buffaloes, and various antelope species.<br>
                    <b>Best Time Visit:</b><br>
          June to October and December to February<br>
                    <b>Ticket Price</b><br>
                    <ul>
                        <li>Non-East African Residents: $53.10  per adult per day</li>
                        <li>Children (5-15 years): $15.80 per day</li>
                        <li>East African Residents: Approximately $11.80 per adult per day</li>
                    </ul>
                </div>
                <div class="image">
                    <img src="{% static '/assets/img/ArushaNationalPark2.webp' %}" class="img-fluid" alt="Ngorongoro Crater" height="400px" width="700px">
                </div>
            </div>
        </li>

        <!-- Repeat for other places -->
    </ul>
</div>



  </main>

  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Tanzania blog</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Discover Tanzania, a land of breathtaking landscapes and rich cultural heritage. Home to the iconic Serengeti National Park, where the awe-inspiring Great Migration unfolds, and the majestic Mount Kilimanjaro, Africa's highest peak, Tanzania offers unparalleled natural wonders. </p>

          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">

        </div>

        <div class="col-lg-2 col-md-3 footer-links">

        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful links</h4>
          <ul>
            <li><a href="/travelguide/">Travel Guide</a></li>
            <li><a href="invest/">Invest</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Address</h4>
          <ul>
            <li><a href="#">7k Old Port Bell Rd,</a></li>
            <li><a href="#">Bugolobi, Kampala,</a></li>
            <li><a href="#">Uganda</a></li>
            <li><a href="#">info@qubescape.com</a></li>
            <li><a href="#">+256 752122753</a></li>
          </ul>
        </div>

      </div>
    </div>



  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>